<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<title>Comprabante de Pago</title>
	
</head>
<body background="/img/fondo.jpg">
	<div class="navbar navbar-expand-sm bg-danger navbar-dark">
		<a class="navbar-brand"><img src="/img/logo.jpeg" width="80" height="40"></a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href="/comprobantes">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="/registrar">Registrar Comprobante</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="/reportes">Reportes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="/">Cerrar Sesion</a>
			</li>
		</ul>
	</div>

</body>
</html>